<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>角色菜单授权列表</title>
    <script th:replace="include"></script>
</head>
<body>
<div id="main">
    <!--条件-->
    <el-form :inline="true" :model="query" class="demo-form-inline">
        <el-form-item label="角色名称">
            <el-input v-model="query.roleName" placeholder="输入角色名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="getRoleList">查询</el-button>
        </el-form-item>
    </el-form>
    <!--角色表单-->
    <el-table
            ref="multipleTable"
            :data="tableData"
            border
            style="width: 100%;margin-top: 5px"
            v-loading="loading"
    >
        <el-table-column
                fixed
                prop="roleName"
                label="角色名称"
                width="300">
        </el-table-column>
       <!-- <el-table-column
                prop="roleKey"
                label="权限标识"
                width="300">
        </el-table-column>-->
        <el-table-column
                label="操作"
                width="120">
            <template slot-scope="scope">
                <el-button type="success" plain @click="openDialog(scope.row)"  sec:authorize="hasAuthority('system:user:list')" >分配菜单</el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--分页-->
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page=page.currentPage
                :page-sizes="[1,5,10,20,50]"
                :page-size=page.pageSize
                layout="total, sizes, prev, pager, next, jumper"
                :total=page.total>
        </el-pagination>
    </div>

    <!--新增dialog,@click="dialogAddUserForm = true"打开，@click="dialogAddUserForm = false" 关闭 -->
    <!-- dialog 表单 -->
    <el-dialog title="角色菜单分配"
               :visible.sync="dialogForm"
               @close="closeDialog"
               center
               fullscreen
    >
        <el-container>
            <!--左边-->
            <el-aside width="200px" >
                <el-form :inline="true" :model="role" class="demo-form-inline">
                    <el-form-item label="当前授权角色">
                        <el-input v-model="role.id" type="hidden"></el-input>
                        <el-input v-model="role.roleName" disabled style="color: #0d0d0d"></el-input> <!--disabled-->
                    </el-form-item>
                </el-form>
            </el-aside>
            <!--中间-->
            <el-main >
                <!--菜单列表-->
                <template class="fatherSon">
                    <el-checkbox v-model="isFatherSonld" > 父子级联【分配权限时勾选方便操作,查看权限时不要勾选】</el-checkbox>
                </template>
                <el-tree
                        :data="menuData"
                        show-checkbox
                        :check-strictly="getIsFatherSon"
                        default-expand-all
                        node-key="id"
                        ref="tree"
                        highlight-current
                        :props="defaultProps"
                        class="main"
                >
                </el-tree>
            </el-main>
        </el-container>
        <div slot="footer" class="dialog-footer">
            <el-button @click="closeDialog">取 消</el-button>
            <el-button type="primary" @click="submitForm()">保 存</el-button>
        </div>
    </el-dialog>

</div>
<script>
    new Vue({
        el:'#main',
        data() {
            return {
                tableData: [],
                menuData: [],
                defaultChecked:[], //默认选中
                checkStrictly: true, //父子不级联
                isFatherSonld: false, //父子级联是否勾选
                query:{
                    roleName:'',
                },
                //授权角色
                role:{
                    id:'',
                    roleName:''
                },
                multipleSelection: [], //复选框选择的列
                dialogForm: false, //新增窗口默认关闭
                loading: true, //是否显示loading
                page:{
                    currentPage:1,
                    total:1,
                    pageSize: 10
                },
                defaultProps: {
                    children: 'children',
                    label: 'menu_name'
                }
            }
        },
        //加载完成
        mounted() {
            this.getRoleList();
        },
        computed:{
            getIsFatherSon(){
                return !this.isFatherSonld;
            }
        },

        methods:{
            //复选框选中
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            //页数大小改变
            handleSizeChange(val) {
                this.page.pageSize = val;
                this.page.currentPage = 1;
                this.getRoleList(); //查询一次数据
            },
            //当前页码改变
            handleCurrentChange(val) {
                this.page.currentPage = val;
                this.getRoleList(); //查询一次数据
            },
            //查询角色列表
            getRoleList(){
                var that = this;
                that.loading = true;
                //获取参数
                var param = {};
                param.roleName = this.query.roleName;
                param.pageSize= this.page.pageSize;
                param.pageNum = this.page.currentPage;
                axios.post(path+'system/role/list',param).then(
                    (res) => {
                        that.loading = false;
                        if(res.data.code == '200'){
                            this.page.total = res.data.total;
                            this.tableData = res.data.data;
                        }else{
                            this.$message.error(res.data.msg);
                        }
                    })
                    .catch((err) => {
                        that.loading = false;
                        console.log(err)
                        this.$message.error('系统错误');
                    })
            },
            //查询菜单列表
            getMenuList(){
                var that = this;
                that.loading = true;
                axios.get(path+'system/roleMenu/queryListByRoleId?roleId='+this.role.id).then(
                    (res) => {
                        that.loading = false;
                        if(res.data.code == '200'){
                            var resultData = res.data.data;
                            that.menuData = resultData;
                            //console.log(resultData);
                            //已分配的菜单默认选中
                            this.getCheckedId(resultData);
                            that.$nextTick(() => {
                                that.$refs.tree.setCheckedKeys(that.defaultChecked);  //设置复选框选中
                            });
                        }else{
                            that.$message.error(res.data.msg);
                        }
                    })
                    .catch((err) => {
                        that.loading = false;
                        console.log(err)
                        this.$message.error('系统错误');
                    })
            },
            //获取需要选中的数据
            getCheckedId(data){
                var that = this;
                var ids = "";
                that.defaultChecked.splice(0,that.defaultChecked.length);//清空数组
                //定义一个递归函数
                const setCheckBox = function(data){
                    data.forEach((item)=>{
                        if(item.checked != '' && item.checked != null && item.checked != undefined){
                            that.defaultChecked.push(item.id)
                        }
                        if(item.children){
                            setCheckBox(item.children)
                        }
                    })
                }
                setCheckBox(data); //调用一次
            },
            //授权窗口
            openDialog(row){
                this.role = row;
                this.getMenuList();
                this.dialogForm = true;
            },
            //关闭窗口
            closeDialog(){
                this.dialogForm = false
            },
            //提交表单
            submitForm:function () {
                var roleId = this.role.id; //角色id
                var select = this.$refs.tree.getCheckedNodes(); //勾选的节点
                var menu = [];
                for(var i=0;i<select.length;i++){
                    menu.push(select[i].id);
                }
                var data = {};
                data.roleId = roleId;
                data.menu = menu;
                axios.post(path+'system/roleMenu/saveRoleMenu',data)
                    .then((res) => {
                        //console.log(res)
                        if(res.data.code == '200'){
                            //this.getRoleList();
                            this.$message.success(res.data.msg);
                            this.closeDialog();
                        }else{
                            this.$message.error(res.data.msg);
                        }
                    })
                    .catch((err) => {
                        console.log(err)
                        this.$message.error('系统错误');
                    })
            },
        }
    })
</script>
<style scoped>
    .main{
        height: 400px;
        overflow: auto;
        border: 1px solid #c6cfcc;
    }
</style>
</body>
</html>