<link rel="stylesheet" href="/static/lib/element2.13.0/lib-master/theme-chalk/index.css" />
<script src="/static/lib/vue/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/lib/jquery-3.4.1/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/lib/element2.13.0/lib-master/index.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/lib/layer/layer.js"></script>
<script src="/static/lib/axios/dist/axios.js"></script>
<script src="/static/js/main.js"></script>